h1, h2 {
  margin: 0;
  padding: 0;
  font-weight: lighter;
  font-family: 'Coiny', sans-serif;
  color: #3C6E47;
}

#content {
  width: calc(100% - 30px);
  margin: 10px;
  padding: 10px;
  border: solid 2px #89C996;
  border-radius: 12px;
  background-color: #F0FAF4;
  /* font-family: 'Coiny', sans-serif; */
}

.minor-section {
  margin: 10px;
  padding: 15px;
  border: solid 2px #A0D8A0;
  border-radius: 15px;
  background-color: #EAF8E6;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.minor-section h2 {
  font-size: 1.4em;
  color: #3C6E47;
}

/* Set the image to be responsive */
.image-wrapper img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  border: solid 2px #A0D8A0;
}

/* Set the canvas element to be the full size of the container */
canvas {
  width: 100%;
  height: 100%;
}

.fullscreen-box {
  display: flex;
  justify-content: flex-end; /* Aligns the button to the right */
  margin-top: 0.25em;
}

.fullscreen-box button {
  font-size: 0.8em;
  background-color: #3C6E47;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.fullscreen-box button:hover {
  background-color: #2B4C34;
}

body.is-fullscreen #canvas-container {
  position: fixed; /* Use 'fixed' instead of 'absolute' to ensure it covers the entire screen */
  top: 0;
  left: 0; /* Add 'left: 0' to align it properly to the top-left corner */
  width: 100vw !important;
  height: 100vh !important;
  margin: 0; /* Remove any default margins */
  z-index: 1000; /* Ensure it's above other content */
}
